[2016-07-27 09:42] steren opened #1 "Add playground"
Add an demo page where users and developers can provide an API key and project ID and test the library.

[2016-07-27 09:46] steren opened #2 "Provide JS module"
Installing via a script is not the preferred way to install dependencies in a modern web application.

Developers should be able to use the library by importing a module in their application.

We should be compatible with the common module conventions (AMD, CommonJS, JS modules?)

[2016-07-27 09:47] steren opened #3 "Easy setup for AngularJS"
We should document and make sure setup is easy for AngularJS applications

[2016-07-28 13:31] steren opened #4 "Support private source maps"
The library only supports source maps when:

* The minified file is appended with a comment directive to your source map file:

[code]

* And this file is publicly accessible.

Including server-side component, we could imagine a way to not need to make the source map available publicly.

[2016-07-28 22:17] steren commented on #1
fixed, see `demo` folder

[2016-07-28 22:17] #1 closed

[2016-08-02 12:36] steren opened #5 "Do not override window.onerror"
If window.onerror is already defined, stackdriver-errors should not override it but instead add the its error handler on top of it.

[2016-08-04 12:05] steren commented on #5
Fixed in 8c81498d9d274a887cd814aba785350f37c9dbbf
CC @sylvinus

[2016-08-04 12:05] #5 closed

[2016-08-06 17:44] steren commented on #3
See https://docs.angularjs.org/api/ng/service/$exceptionHandler
we need to overwrite the default $exceptionHandler

[2016-11-29 15:54] steren opened #6 "Unhandled exception should still be printed to the Console"
Setting up this module hides errors from the Chrome console. This is not good for debugging

[2016-12-08 12:48] steren opened #7 "Publish to npm"
Bower does not seem to be a thing anymore. But developers expect to install client-side dependencies via npm.

We should provide an npm module.

[2016-12-18 22:01] eriwen commented on #4
@steren I would like to [support private source maps in stacktrace.js v2.0](https://github.com/stacktracejs/stacktrace.js/issues/173) and I want to design it in way that benefits this project.

I'm curious if the intent is for source map files to be available publicly, though obscured by omitting the `sourceMappingURL` directive; or if instead source map files should be locally accessible through

[2016-12-19 10:30] steren commented on #4
Hi @eriwen, thanks for reaching out and thanks for your tremendous work on stacktracejs.

I think the end goal should be for the source map file to never be accessible publicly.

For Stackdriver Error Reporting, the ideal scenario would be the following:

1. Source map files are generated when user compile their JS
2. At deploy time, these source map files are "sent to Google": a Google Stackdrive

[2016-12-19 10:34] steren commented on #3
I added setup instructions to the README: https://github.com/GoogleCloudPlatform/stackdriver-errors-js#setup-for-angularjs

We could do better and offer an Angular module, but this is a good first step, which solves the initial problem.

[2016-12-19 10:34] #3 closed

[2016-12-20 03:46] eriwen commented on #4
@steren Thanks very much for the kind words and the information — it makes a lot of sense.

It seems like my best next step would be to spike a Node.JS app that does what you describe and see if any functionality in `stacktrace.js` itself can help in a platform-agnostic way. The app can perhaps evolve into an official "stacktrace-to-stackdriver-adapter" or some examples to help users integrate sta

[2016-12-20 10:15] steren commented on #4
Any step (first of third party) that would bring users closer to private maps support is very valuable for us.

We could keep the platform-agnostic part in stacktrace.js and the Stackdriver specific code in this repo (I would be glad to help you on this part).

Keep me in the loop

[2017-02-01 13:50] maxbaluev commented on #4
any updates?

[2017-02-16 09:37] steren commented on #4
Today, I have no plans to work on this.

[2017-02-25 18:20] eriwen commented on #4
I intend to focus on stacktrace.js v2.0 in the month of March, and will consider this.

@steren are you still involved on this project given your new involvement with Bazel, or is there another I should work with if this is implemented?

[2017-02-26 11:11] steren commented on #4
`stackdriver-errors-js` is an experimental project I developed on the side to provide a better support of client-side JavaScript apps.
Consider me still involved as a maintainer. I would be happy to upgrade it so use stacktrace.js 2.0 or to provide inputs for your design.

[2017-03-19 17:20] touhonoob opened #9 "Question: Security Concern of Exposing GCP API Key"
Is there a way to securely expose GCP API key to public?
There doesn't seem to be an option to limit service access on the level of per API key.

[2017-03-20 01:46] steren commented on #9
This is a valid concern. And I asked the question explicitly to the Cloud API team.

You are correct: at the moment, developers cannot restrict the APIs or permissions that can be used with a given API key.
In a client, there is no way to hide a secret. So there is no other mechanism that can be used than API key.
By using the API key that can be found in the client, a user can call any API of the

[2017-03-20 01:46] #9 closed

[2017-04-14 00:56] SoulAuctioneer opened #10 "Fails in Chrome 57 due to sendBeacon()"
It looks like sendBeacon() cannot be used with the ContentType "application/json; charset=UTF-8"

According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

More info at http://crbug.com/490015

Full error:
[code]

[2017-04-16 13:47] steren commented on #10
Thanks for the report.

`sendBeacon()` was introduced in https://github.com/GoogleCloudPlatform/stackdriver-errors-js/pull/8 and published in v0.0.5 of this lib.

For now and until we fix the problem, you can use v0.0.4 that is not using this API. I am going to update the README of the repo.

@tinovyatkin are you available to work on a fix for the `sendBeacon()` change?

[2017-04-25 18:51] tinovyatkin commented on #10
Hi!
`MIME type is disallowed experimentally` that something fantastic to fix... Will check for workaround for this experiment

[2017-04-25 19:05] tinovyatkin commented on #10
Chrome developers seems to decided to throw on any Blob with non simple content-type and collect telemetry to understand how it can affect. Seems weird decision for me, but at this point I'm the easiest workaround it rollback to non-beacon version, unfortunately.

[2017-05-09 22:47] oshalygin commented on #7
This is fairly straightforward to accomplish, any concerns?

[2017-05-09 22:48] oshalygin opened #11 "Integration with ReactJs?"
Anyone have a how-to or can direct me on how to get going with this?  Outside of adding the scripts to the bottom of the the root `index` file?

Going to give this a whirl over the next few days but would love to see any insight.

[2017-05-10 08:51] steren commented on #11
I do not have first hand experience with React, if you know this framework, feel free to send a PR with React setup documentation in the README.

[2017-05-12 08:49] steren commented on #7
Hi,
Indeed it is straightforward. I think I initially waited for the library to stabilize.
I'll do it within a week.

[2017-05-12 21:13] oshalygin commented on #7
thanks @steren , would love to contribute in the coming weeks as well.

[2017-05-13 22:04] oshalygin commented on #11
@steren will do! Going to take a look this weekend.

[2017-05-16 06:39] oshalygin commented on #6
I'm on the fence about this one, while its nice to see the errors, in local development the package should be not initialized.  In your live environment, there's little benefit in the users of the application to see the errors, and as a developer you can see all of the errors in the stackdriver dashboard.

Thoughts @steren ?

[2017-05-16 12:42] steren commented on #6
That's a good point that in local dev, it's better to not initialize the module.

I still wonder if in a scenario of troubleshooting a customer issue, it's convenient to ask the customer: "open the Chrome console, is there any errors there?".

[2017-05-16 20:04] oshalygin commented on #6
Very good point!

[2017-05-17 05:43] oshalygin commented on #11
Resolved as part of #12

[2017-05-17 05:43] #11 closed

[2017-05-17 17:03] oshalygin commented on #2
I'd love to get started on something like this, and with the help wanted label, are you still open to a PR?

[2017-05-17 20:39] steren commented on #2
Yes of course, any help is appreciated. Feel free to submit a PR

[2017-05-18 00:09] oshalygin opened #13 "Open to writing the application code in ES6 with a Babel transpilation step?"
@steren , would this project be open to having the source code written in ES6 and then transpiled down to ES5 via Babel?  The `build` command would perform this and as part of any release the `npm` the entry-point would reference the minified/transpiled code?

[2017-05-18 00:14] steren commented on #13
I have nothing against the idea, if it brings a clear value.

Keep in mind that currently, this library is [~100 lines](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/stackdriver-errors.js). The simplest we keep it, the better.

So before moving to ES6, I'd like to understand what it will bring in term of developer velocity or in term of library usability.

[2017-05-18 00:15] steren opened #14 "Migrate to stacktrace-js 2.0"
See https://github.com/stacktracejs/stacktrace.js/releases/tag/v2.0.0 for breaking changes. The migration should be very straightforward.

[2017-05-18 00:16] steren commented on #14
CC @eriwen

[2017-05-18 04:19] eriwen commented on #14
:+1:

[2017-06-02 15:32] #10 closed

[2017-06-02 15:36] steren commented on #7
I pushed the latest version to npm: https://www.npmjs.com/package/stackdriver-errors-js

I will now update the README to mention it.

[2017-06-02 15:36] #7 closed

[2017-06-04 03:59] oshalygin commented on #7
Awesome thanks @steren !!! Sorry been a bit mia on some items, work has gotten hectic.  Thanks for pushing this!!

[2017-06-06 19:26] willycamargo opened #15 "Preventing StackTrace is not defined on browser when using Browserify"
I'm trying to use this lib with Browserify + ES6 syntax.

[code]

But, when I try to test it with some error I receive this:

[code]

![image](https://user-images.githubusercontent.com/5041887/26847594-019e9b08-4ad4-11e7-8ac7-c6aef95b312a.png)

[Error line](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/stackdriver-errors.js#L107)

Everything works fine when I use self-ho

[2017-06-06 19:36] ties commented on #15
After adding `stacktrace-js` as an dependency to package.json and adding the following line to my entrypoint it worked for me:
[code]

[2017-06-06 19:43] steren commented on #15
I am not an ES6 expert, but indeed, if only stacjdriver-errors.js is loaded, it assumes that stacktrace.js has been loaded previously.

Any help improving the ES6 module architecture is welcome: https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/2

As well as suggesting edits to the setup instructions in the README,

[2017-06-06 19:50] willycamargo commented on #15
`stacktrace-js` is a dependency of the `stackdriver-errors-js`. So I think that it should be imported into it.

It is listed on [this project dependencies](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/package.json#L37). I think that the solution is add a `var StackTrace = require('stacktrace-js');` on `stackdriver-errors.js` file.

[2017-06-06 20:13] steren commented on #15
But that would assume we use ES6. Which, as explained in https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/13, I am not sure it's worth the effort.

[2017-06-06 20:22] willycamargo commented on #15
Hmm. I got it.
You're right!

But installing the module with npm will cause this error on any app, since that `node_modules` normally isn't present on Client Apps when it is deployed to production.

Normallly packages installed by npm are used with AMD, CommonJS, etc. (using ES6 or no)

So the solution is provide the JS module architecture, as mentioned in #2

I guess I can do it in my free time.

[2017-06-06 20:30] #15 closed

[2017-07-11 12:18] shinofara opened #16 "Question: Security Concern of Exposing GCP Project ID And API Key ."
Would not it be possible to issue a salt for each project instead of using Project ID and API KEY raw, so that it can be reversibly encrypted and used?

There is no problem assuming that API keys are used and beaten unnecessarily

[2017-07-11 12:25] steren commented on #16
The security concerns have been answered in https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/9

[2017-07-11 12:25] #16 closed

[2017-08-04 09:02] evanjmg commented on #2
Is there any usage instructions for npm? I can't use it as a module unless I know how to use it as such. A simple import did not work. Please add to readme

[2017-08-04 20:29] mikelambert commented on #2
[code]

And then:
[code]

works for me.

[2017-08-04 20:41] steren commented on #2
Thanks. I suppose this is ES6 syntax right?
Feel free to send a PR to add this info to https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/README.md#setup-for-javascript

[2017-08-04 21:19] mikelambert commented on #2
Ideally you would 'npm publish' this repo up to the npm servers, and then repush it as needed with semver. Someone else could do that, but then that someone would become the 'de facto' owner of your NPM package (and potentially do bad things), so I'd recommend you learning and doing the npm publish yourself.

The syntax I've listed is an npm client workaround that pulls from git HEAD (unversioned)

[2017-08-04 21:25] steren commented on #2
the library is on npm: https://www.npmjs.com/package/@google-cloud/error-reporting

What this issue is about is to provide a JS module in a more JS idiomatic way.

[2017-08-04 21:43] mikelambert commented on #2
Ahhh sorry, I totally misunderstood, apologies for the basic reply above. I'm using it in an idiomatic way at the moment with my webpack build, so I think I assumed that this wasn't about that. But I pull from my own GitHub repo (with that pull request I just sent in)...thats why I was assuming this didn't exist on npm.

[2017-09-18 21:50] mbeauchamp7 opened #19 "StackTrace is not defined"
![image](https://user-images.githubusercontent.com/15185355/30566279-cc7d1704-9ca1-11e7-96c9-e203f4858845.png)

I tried to quickly connect and test and got this error. I'm using webpack/react and used it like this.
[code]

I suppose you could include StackTrace as a dependency.

[2017-09-18 22:44] steren commented on #19
If you load the `stackdriver-errors.js`file, this one assumes that the `stacktrace-js` module has been loaded.

I never tested this module with webpack. Feel free to add more install details to the [README](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/README.md) and send fixes.

[2017-09-18 23:31] mbeauchamp7 commented on #19
I never worked with the gulp workflow so I don't really how to get this working properly :(

[2017-09-18 23:31] #19 closed

[2017-09-18 23:33] steren commented on #19
Does importing the `stacktrace-js` module solve the issue?

[2017-09-18 23:39] mbeauchamp7 commented on #19
I haven't tried sorry.. I didn't know stackdriver had it's own api so I'll just write a few lines to report the errors. Thanks anyways!

[2017-09-18 23:42] steren commented on #19
As you want. But technically, those few lines will be https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/stackdriver-errors.js

[2017-10-13 18:31] #14 closed

[2017-10-13 23:12] eriwen commented on #14
Boom! 🎉

[2017-10-28 06:18] ubershmekel opened #21 "Error message not sent when reporting from Chrome's console."
The example string error report: `errorHandler.report('Something broke!');` causes this:

[code]

[2017-10-28 18:21] steren commented on #21
I can indeed reproduce, but only when I try in Chrome DevTools' console. Can you confirm this is where you are trying the command?

When I use the library from a .js file, the error is properly sent.

[2017-10-28 18:24] steren commented on #21
We could even think that this is working as intended: in Chrome's console, there is no stack trace, thus Stackdriver Error Reporting is unable to group the error.

[2017-10-28 21:54] ubershmekel commented on #21
I can confirm I used the chrome dev tools console. But I also added my own `throw new Error('bla')` in my code which did not register in the dashboard.

The only thing that landed in the stack driver dashboard was this example `(function testErrorReporting() {window.onerror(null, null, null, null, new Error('Test: Something broke!'));})();`

I think Chrome's console has a stack trace:

[code]

E.g

[2017-10-28 22:28] steren commented on #21
Where do you do `throw new Error('bla')`, what is it's stacktrace?

Once again, if it's empty, or 'anonymous', Error Reporting will not be able to group it.

[2017-10-29 19:22] ubershmekel commented on #21
Looked a bit harder at the console and saw you guys were throwing:

If I had to guess - someone's IDE made a squiggly under `!errorObject` because it's an undeclared variable and this is the fix...

[2017-10-29 19:32] ubershmekel commented on #21
Actually - that's not your code and it's intercepting the error. Sorry for the goose chase. I removed the intercepting code and still am getting no reports of a `throw new Error` in my code. I saved the error to a global variable to inspect it.

[code]

[2017-10-29 20:02] steren commented on #21
Thanks for the investigating, but I'm still confused by what is the problem.

The best would be for you to reproduce the problem, write a test for it, and propose a fix. The code is very straightforward:

- code: https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/stackdriver-errors.js
- tests: https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/test/test.

[2017-11-02 05:03] achew22 opened #22 "Has an undocumented dependency on StackTrace"
It took me a while to figure out that the project depended on https://www.stacktracejs.com/

[2017-11-02 05:16] steren commented on #22
Undocumented? https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/package.json#L37

[2017-11-02 05:20] achew22 commented on #22
I couldn't add the .min.js since it redefined my module system so I was trying to reconstruct things manually.

[2017-11-02 05:24] #22 closed

[2017-11-02 06:02] achew22 opened #23 "LICENSE of project never specifies year or owner"
Probably this is

`Copyright 2017 Google LLC`

https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/b17f1594c13a1ff13e01344de61f7250feb8934a/LICENSE#L190

[2017-11-02 06:13] #23 closed

[2017-11-13 21:22] ubershmekel commented on #21
It seems some errors get reported and some don't. I've also noticed that if I have errors during initial page load they do not show up on the console unless I remove the stackdriver-errors-js snippet.

I'm not sure when I'll have time to create a small repro repo. But if you're curious before that time I've left a thrown error at: https://shop.rylo.com so you can open the console there and see `fy

[2017-11-15 10:27] Jastrzebowski commented on #21
I've dug a bit into it, and manage to fix the format by adding `<anonymous>` if there is no `functionName` — scope is an anonymous function, global or console, full info in PR

[2017-11-15 10:58] Jastrzebowski commented on #6
I would definitely agree with @steren in this case, but it should be an option which could be turned off in config if someone would still want to run logging silently.

[2017-11-21 02:49] ubershmekel commented on #21
I've disabled the error throwing for now, assuming @Jastrzebowski got it for now. Waiting for the next release to retest.

[2017-11-22 01:13] steren commented on #21
I created a new release, which should fix this issue.

[2017-11-22 01:13] #21 closed

[2017-12-02 20:16] ubershmekel opened #25 "Error string normalization"
I'm not sure if this is within the scope of this project or not. But I did notice that different browsers will have different error strings for the same error. E.g.

`ReferenceError: Can't find variable: errorHandler` in `Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) CriOS/56.0.2924.79 Mobile/14A456 Safari/602.1`
vs
`ReferenceError: errorHandler

[2017-12-03 00:21] steren commented on #25
This seems a very relevant suggestion.

I would encourage to build this feature in https://github.com/stacktracejs/stacktrace.js/ which is the library this module uses.

CC @eriwen

[2017-12-04 03:20] eriwen commented on #25
Thanks for pinging me @steren. There is an [error-stack-normalizer](https://www.npmjs.com/package/error-stack-normalizer) module made to work with stacktrace.js that may at least normalize function names.

Having this built in to stacktrace.js has been requested now a few times now. What would really, really help me out for such a thing is test cases; stack traces across various browsers from a co

[2017-12-04 03:43] eriwen commented on #25
Thinking about this more: isn't the goal to determine if 2 errors semantically the same? Would it be more useful to have a tool that spit out something like a similarity score instead?

[2017-12-04 03:53] steren commented on #25
The Stackdriver Error Reporting backend groups errors based on complex heuristics, looking at their stacktraces and message.

However, it does not do a good job for browser-based errors, as it does not expect the same code to produce messages that varies.

[2017-12-07 15:10] steren opened #26 "Fail gracefully if stacktrace-js has not been loaded properly."
If the StackTrace object is not available (because the user has not loaded the contact.dist.js file for example), print an error in the console explaining what needs to be done.

[2017-12-07 21:24] richardson-trevor opened #27 "Suggested pattern for sending to server that proxies on to Stackdriver"
Our policies won't allow us to have an api key directly in our calls given that we can't lock down an api key to only the Stackdriver Errors API. Do you have any recommendation for shaping these errors so that we can "proxy" them through our app engine server? You've done a fair bit of work in getting this shape right prior to shipping it up to the api directly, so I'd like to leverage that, but I

[2017-12-08 05:50] steren commented on #27
Indeed, this is a known limitation of API keys. This is why we recommend creating a dedicated project only used for this purpose.

I know many customers who forward the error server-side, and then simply log them.

I would encourage to contribute to this module:

The [stackdriver-errors-js](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/stackdriver-errors.js) file is abou

[2017-12-08 07:09] ubershmekel opened #28 "Count sessions on Stack Driver Error Reporting?"
It would be nice if there was a way to see "percentage of sessions with errors" on the error reporting dashboard. Having 20 errors per day is horrible if you had 20 sessions, but it's nothing to worry about if you had 200,000 sessions.

[2017-12-08 07:20] steren commented on #28
You can achieve that by using the `context.user` field (see the [README](https://github.com/GoogleCloudPlatform/stackdriver-errors-js))

The UI will then display a user count as a column in the Error list view.

[2017-12-08 07:20] #28 closed

[2017-12-08 07:22] steren commented on #28
If you do not have a user ID, you could imagine generating one and storing it in localstorage.

[2017-12-08 14:01] richardson-trevor commented on #27
Excellent, appreciate you being open to it. I'll start putting something together.

[2017-12-08 19:01] ubershmekel commented on #28
@steren per this advice, I've introduced a uuid user id saved in localStorage. The dashboard now tells me how many users are affected by a bug. It doesn't tell me the percentage of total users affected. I.e. I look at my dashboard knowing how many users are impacted - but not if the sky is falling vs a minor glitch in the matrix.

[2017-12-08 23:10] ubershmekel commented on #28
To clarify - I think it would be nice if stackdriver reported and tracked NON-ERROR sessions.

[2017-12-10 21:01] steren commented on #28
This is a great feature request for the Stackdriver Error Reporting product itself. I will pass the feedback.

[2017-12-11 22:57] Jastrzebowski commented on #25
And this can vary even in the same browser, as far as I remember Microsoft one used to throw messages in users language version (this is I18n with capital I ;))

[2017-12-15 03:40] eriwen commented on #25
If I read into your comment correctly @steren, normalization only would be most helpful for you.

[2018-01-11 12:50] iozeen commented on #2
@mikelambert doesn't work for me, throws error:
`Uncaught Error: make sure you loaded “dist/stackdriver-errors-concat.js” or “dist/stackdriver-errors-concat.min.js”, or that you imported the “stacktrace-js” module`
But I want to import it via ES6 and use it as util module in my react application

[2018-01-15 13:08] Jastrzebowski commented on #2
@iozeen Check @ties [answer](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/15#issuecomment-306594058) in #15, not nice but working. We should work on the module, I would suggest UMD (like stacktrace-js)

[2018-03-15 05:31] calbach opened #32 "report() should allow handling of non-200 Stackdriver responses"
Current API signature:

`report(e, callback)`, where callback happens on both success or failure (passed XHR error on transaction failure).

In the event that the Stackdriver XHR succeeds with a non-200, e.g. 403 due to API key origin restriction, callback is invoked without parameters, so it looks like a success to the client. This is because `XMLHttpRequest.onerror` is not dependent on the HTTP

[2018-07-03 13:04] skjolber commented on #27
@richardson-trevor  I now see an 'API restriction' called 'Stackdriver Error Reporting API' when editing the API key. @@steren is this considered safe if used together with the proper 'Application restrictions', without creating dedicated projects?

[2018-07-03 13:09] richardson-trevor commented on #27
Didn't realize that I had never come back to comment on this. There's now a config value available for sending to a custom target url: https://github.com/GoogleCloudPlatform/stackdriver-errors-js#configuring-without-an-api-key.

[2018-07-03 13:14] richardson-trevor commented on #27
@skjolber if you were looking for something that does proxy to one of your controlled servers that has access to the Stackdriver api, the link I dropped above should explain how to do so. This has been working well for us for a few months now.

@steren if you're satisfied with the solution, I believe this issue can be closed.

[2018-07-03 14:58] skjolber commented on #27
@richardson-trevor thanks for the quick response, was the 'API restriction' called 'Stackdriver Error Reporting API' not available previously? Is your current solution open-source, and/or does it handle Config Maps privately?

[2018-07-03 15:34] richardson-trevor commented on #27
Ah, okay. I missed your point in the first message. I think our issue was that we were trying to create an api key that was purely limited to the Stackdriver Error Reporting API and we couldn't do so at the time. The reason we wanted to do this was because we didn't want to open up any other permissions since our package was getting shipped to browsers and therefore would've been a major security

[2018-07-03 15:39] steren commented on #27
I was not aware that API restrictions were available.

It seems that this solves the problem. I will update the README with this suggestion.

@richardson-trevor can you help me confirm that using this restriction mechanism does what you were looking for?

[2018-07-03 15:39] #27 closed

[2018-07-03 16:01] richardson-trevor commented on #27
I think the major things that threw me were things like this:

and

Google Cloud Natural Language API
Google Cloud Speech API
Google Cloud Translation API
Google Cloud Vision API
Google Cloud Endpoints
Google Cloud Billing Catalog API
Cloud Data Loss Prevention API

These come from https://cloud.google.com/docs/authentication/api-keys

[2018-07-03 16:03] richardson-trevor commented on #27
Even with this, though, our team's needs were satisfied with the earlier mentioned configuration ability to proxy errors through our application servers, which has worked quite well for what we wanted. This way we don't ever have to leak a key to the browser.

[2018-07-03 18:57] skjolber commented on #27
Ok, thanks a lot guys! :+1:  @richardson-trevor @steren

[2018-07-04 13:09] whitecolor commented on #19
@steren How this stacktrace-js should be imported?

[code]

gives an error:
![image](https://user-images.githubusercontent.com/736697/42278822-639f911a-7fb5-11e8-8a43-64c500bce3ad.png)

[2018-07-07 01:02] steren commented on #19
When you do `require('stacktrace-js')`, does it exposes a global `StackTrace` object?
This is what is expected by `stackdriver-errors.js`

[2018-07-18 18:53] richardson-trevor opened #35 "Reporting unhandled promise rejections"
It looks like support for an event similar to `onerror` but meant for unhandled promise rejections called `onunhandledrejection` (spec [here](https://html.spec.whatwg.org/multipage/indices.html#event-unhandledrejection)) is on it's way, but is not supported very broadly thus far (mdn [here](https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onunhandledrejection)).

Is there any d

[2018-07-18 19:30] richardson-trevor commented on #35
Would you mind explaining a bit more on the vision for broader support? To my understanding it would still be okay (logic-wise) to create it on other browsers, it just wouldn't ever get called.

The downside I can think of would be inconsistent logs between browsers. In our case, that would still be an improvement as we could at least be getting errors from all Chrome users.

[2018-07-18 19:45] steren commented on #35
I want to avoid adding support for APIs that are too early stage or not widely available. We have seen in the past how experimental APIs [can lead to breakages](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/10).

Here I see that [70% of users should have it](https://caniuse.com/#search=onunhandledrejection), so I am Ok to add the feature.

[2018-07-18 19:51] richardson-trevor commented on #35
Ah, okay. That's totally understandable. It's good to know the sort of metrics you're looking for here. I will look at getting a PR submitted.

[2018-08-03 14:47] timc13 opened #36 "pass optional message along with error"
Often times, I want to log a message with some context about the error.  If passed in, it could be prepended to the first line of the message.

[2018-08-03 15:18] steren commented on #36
You could customize the string or error object before passing it to errorHandler.report(), isn't this solving your problem?

[2018-08-03 16:01] #36 closed

[2018-08-13 08:31] gillyb opened #37 "Send logs that aren't errors"
Can this turn into a more 'general' logging solution for websites to send logs from the client?
I would like to have the ability to send metric based logs from my web app, and also log messages that aren't specifically errors.
(I will write the functionality myself if there's a chance it will be accepted)

[2018-08-13 15:58] Jastrzebowski opened #38 "CDNs"
Rawgit is fine for examples but imo for a production setup would be nice to have a CDN published version. Should we use Google, or an external one like cdnjs.com?

[2018-08-13 16:30] steren commented on #37
No, this library will not be transformed into a general client-side logging solution. It's purpose is to capture application errors only.

[2018-08-13 16:32] #37 closed

[2018-08-13 16:35] steren commented on #38
For a production setup, I recommend serving the library from the same place where your other JS files are served.

Do you think we'd better use cdnjs.com in the README compared to rawgit. According to https://rawgit.com, cdn.rawgit.com is suited for production use.

[2018-08-13 22:10] Jastrzebowski commented on #38
Rawgit is ok in the documentation, I never tried it in production setup though. As lib is self-sustainable it can be safely deployed and used from a CDN so having more options is always good, cdnjs is probably the best known public CDN I would start with it.

[2018-08-13 22:44] steren commented on #38
Serving from cdn.rawgit.com is suited for production, this is what https://rawgit.com says.

[2018-08-13 22:44] #38 closed

[2018-08-16 08:30] gillyb commented on #37
@Jastrzebowski yep i think so too. But I took another look at the stackdriver capabilities, and it doesn't contain a general client side logging option - it's originally only intended for errors, so if developed, it will have to be over another platform.

[2018-08-28 16:37] michalzubkowicz commented on #6
You should not break default browser behaviour. Sometimes one need to check by himself that is an error somewhere without access to stackdriver. How could he know that this script is running and errors are suppresed? It can lead to many problems.

For those who needs fix for this, just change return value of this function in source code from true to **false:**
window.onerror = function(message, so

[2018-09-23 21:29] steren commented on #13
After further thinking, I think we should keep things simple and stick with vanilla JS

[2018-09-23 21:29] #13 closed

[2018-10-21 04:47] aaomidi commented on #6
What about just make this configurable?

[2018-10-21 05:14] aaomidi opened #43 "Implemented according to the examples, but nothing gets reported"
![image](https://user-images.githubusercontent.com/1465785/47263391-a1573a80-d4ce-11e8-86e5-e9b889111cd3.png)

I tried manually doing `(function testErrorReporting() {window.onerror(null, null, null, null, new Error('Test: Something broke!'));})();` as well, but nothing.

[2018-10-21 05:31] aaomidi commented on #43
Some other script was taking over this.

[2018-10-21 05:31] #43 closed

[2018-11-05 11:03] whitecolor opened #44 "Cross origin error while send"
I've got this error in browser when try to use `report` method:

I init error reporter using such code:
[code]

[2018-11-06 23:32] whitecolor commented on #44
On the website build with Webpack. Ah it still sends the message despite the error shown (which is shown only on the frist report call).

So I believe may close this. Thanks)

[2018-11-06 23:32] #44 closed

[2018-11-20 13:39] bz2 opened #45 "Proposed API and build improvements"
Thanks for publishing this library, have been using it a quite heavily over the last few months to record frontend errors in the same place as we track backend problems. Out of this, I'd like to submit some improvements, some of which may require some discussion and decisions, so this is a meta issue for tracking the proposed changes.

## Library API

Currently `StackdriverErrorReporter` exposes a

[2018-11-20 16:59] steren commented on #45
Thanks for your contributions. They look good to me.
I will be reviewing the changes within the next days.

[2018-11-20 17:00] steren opened #51 "Remove dependency on phantomjs"
phantomjs, used by gulp-mocha-phantomjs and jshint has no ongoing development so should get replaced: ariya/phantomjs#15344

[2018-11-21 17:56] bz2 commented on #45
Thank you very much for review and landing so far!

Will put the next batch up for consideration later.

Main things to resolve are what specifically 'report()' should resolve and reject into, and how to produce both a simple ES5 compatible bundled file and a clean module interface.

[2018-12-07 21:22] bz2 commented on #51
Both halves landed, so now fixed! Build does not depend on phantomjs.

[2018-12-21 11:01] patelnav opened #62 "AppEngine Standard - Report API"
Hello there,

As other issues have mentioned, there are some security considerations with regards to hitting the stackdriver API with an API Key. I opted to implement a backend service to forward messages along to the Report API.

AppEngine standard is configured to automatically send log messages to stackdriver, which is super convenient. Unfortunately it's fairly limited to using the [logging AP

[2018-12-21 11:18] patelnav commented on #2
@Jastrzebowski : Not sure when a PR that fixes this will hit the main branch, but the shenanigans fix to this:
[code]

[2019-01-04 07:24] patelnav opened #63 "Cannot set property onunhandledrejection of [object Object] which has only a getter"
This may have birthed from [Issue#35](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/35).

I'm seeing logs with the following error:
[code]

This is happening on my starting the ErrorReporter. index.js:133 is line 3:
[code]

**User Agent**: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36

[2019-01-04 18:07] steren commented on #63
Thanks for the report. Do you confirm you are using the module at HEAD?

[2019-01-05 12:44] patelnav commented on #63
I did a bit of digging. It seems I was rejecting a promise with a string, which caused [this section](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/stackdriver-errors.js#L118) to generate an error to report. So the stack starts at this point.

Unfortunately the stack traces cross async-boundaries on these Promises, so they not particularly useful.

Unless you guys can fi

[2019-01-07 18:21] murphyke opened #64 "Problem doing manual error reporting"
Hi, I have code that does:

[code]

but the stackdriver API response is:

[code]

What is the recommendation? Do I have to annotate the error object somehow?

Unhandled exceptions are reported correctly.

[2019-01-22 02:10] steren commented on #64
It seems that the `message` attribute is not recognized as being an exception by Stackdriver Error Reporting.

Stackdriber Error Reporting expects stacktraces [formatted as such](https://v8.dev/docs/stack-trace-api)

Would you mind providing an exact sample that reproduces the issue?

[2019-01-22 02:14] steren commented on #63
Version `0.5.0` is supposed to work.

Would you be able to provide a minimal sample (e.g. on codepen) that reproduces the issue?

[2019-01-22 05:10] patelnav commented on #63
hmmm. was trying this, ran into another issue.
The CDN ( https://cdn.jsdelivr.net/npm/stackdriver-errors-js@0.5.0/dist/ ) doesn't even have a window.onunhandledrejection

A messup on publishing to CDN?

[2019-01-22 17:47] murphyke commented on #64
I am cranking for a deadline but will make a reminder to look at this ... hopefully next week.

[2019-02-09 09:11] vongohren commented on #4
@eriwen @steren this kinda stopped, but the lib is still updated, 6 days ago. Are there any thoughts for this feature?

[2019-04-06 21:43] jer-tx commented on #9
This is a fairly old, have there been any changes about this? Creating a whole separate project just for logging is very cumbersome for those of us that have multiple kinds of applications (Python and JS) to have to switch back and forth just to get logging information. Are there any better solutions?

[2019-04-06 22:06] touhonoob commented on #9
@jer-tx The issue has been resolved by https://cloud.google.com/docs/authentication/api-keys?#api_key_restrictions

[2019-04-07 14:15] jer-tx commented on #4
+1

[2019-04-22 18:35] gauravshrestha opened #65 "Any solution for Angular 2+"
Hello,

Is there a version available for Angular 2+?  I need to write logs from my Angular 5 app.

Thank you

[2019-05-31 16:01] bz2 commented on #65
Looks like the modern Angular way is implementing the `ErrorHandler` interface:

https://angular.io/api/core/ErrorHandler

So, not that dissimilar from what's documented for the original Angular, but likely worth spelling out in the README.

[2019-06-02 00:51] steren commented on #65
If you give it a try, please share a Pull Request with us to update the README for Angular 2+

[2019-06-02 00:52] steren commented on #45
I created a new release with all your existing improvements.

Thanks a lot for your contributions!

[2019-06-03 13:14] bz2 commented on #45
@steren Thanks! Will update our code to use latest version and some of the new interfaces.

[2019-06-08 16:01] ernsheong opened #68 "Unexpected token < in JSON at position 0"
![image](https://user-images.githubusercontent.com/1343284/59149595-9c3d0080-8a49-11e9-86f2-7db91ecc01b9.png)

I have a bug in production (3rd error), the surrounding first 2 and latter 2 are mysterious to me. Can anyone explain further?

[2019-06-11 11:12] bz2 commented on #68
See upstream merge proposal https://github.com/stacktracejs/stacktrace-gps/pull/57 which may not be the right fix, but is this issue.

In short, your source map is not valid JSON for some reason. Probably the error should be handleable at the stackdriver-errors-js level, but at the moment is not propagated up.

[2019-06-11 11:25] bz2 commented on #64
I have reproduced this in our deployment, issue is not related to calling report directly, but comes from `stacktrace-gps` producing invalid function names.

Example response:
[code]
Example message from request:
[code]

The section of code from PruneCluster:
[code]
This would be correctly reported as `<anonymous>` but has instead given `'window.setTimeout(function'` as the function name.

Workaro

[2019-06-11 16:17] ernsheong commented on #68
Thanks. The panaroid developer in me decided not to expose sourcemaps for fear of losing IP. Let me know if that shouldn't be a cause of concern... I think protection mechanisms for sourcemaps are still clunky.

So perhaps sourcemaps should be made optional. Bonus points if sourcemaps can be exposed only to Stackdriver, done securely.

[2019-06-11 16:29] bz2 commented on #68
That's fair enough, and see https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/4 for supporting private sourcemaps. If you're scrubbing sourcemaps for prod deploy though, you should also scrub the url reference from the bottom of the source files to avoid this bug.

[2019-07-05 20:45] whitecolor opened #69 "Send additional context info"
Not sure how should I solve if I wan't to send with error additinal info about user context, for example, current **browser window size**?

I thought it could be added to context obj, and `context.user` is just a string but it seems it doesn't work this way. How this case should be handled? I think this problem should be mentioned in docs.

[2019-07-08 18:54] steren commented on #69
Stackdriver Error Reporting does not allow to pass arbitrary labels.

You would need to add this information to the error message

[2019-07-08 20:47] whitecolor commented on #69
How is this usually done?

[2019-09-01 12:30] amirnissim commented on #6
another possible workaround:

[code]

[2019-11-17 12:20] KutnerUri commented on #6
the bad thing is that StackDriver automatically makes the decision for you, violating Inversion of Control.
It could be especially bad when there are other handlers that monitor the console (Winston, for example)

should be disabled by default, or configurable.

[2019-11-27 23:51] hershmire opened #70 "Out of "experimental""
Are there any plans for this to be out of experimental mode and considered production ready?

[2019-11-30 17:07] steren commented on #70
As far as I know, this library is not officially supported. I Can follow up internally to see if it could be.

[2019-12-02 22:37] hershmire commented on #70
I'm investigating options for client-side logging being sent to Stackdriver so it lives along side our server-side logging. This seemed to be the only option that had some backing which is why I was asking. Thanks for digging in internally with the team!

[2019-12-14 11:37] langri-sha commented on #4
I understand a lot of dedicated service providers out there provide some endpoints where clients publish release information and the accompanying source maps.

Some of us may be using Cloud Build build and otherwise already have their build artifacts on Cloud Storage. So something that could also work on GCP is to provide the bucket URL to the source map.

[2019-12-18 17:32] RobertCrowdis commented on #70
I'm also very curious about this for similar reasons. Figure I would express my interest as well!

[2020-02-06 17:01] marcosinger opened #74 "ETA for the next release"
Hi there,

First, thanks for creating this library. I'd like to know if there is any plan to release a new version with [support for custom function for reporting error](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/commit/5b1898a31f40c30c96f0fdfa55232294011cc6c6) soon.

I'm working on an environment in which `git` is not enabled by default, so I need to rely on `npm` versions.

Tha

[2020-02-11 17:32] steren commented on #74
Sorry for missing cutting a release, I'll do it this week

[2020-02-13 23:01] steren commented on #74
0.8.0 should be on NPM now

[2020-02-13 23:02] #74 closed

[2020-02-26 12:30] oskbor commented on #70
Hi @steren , any updates on if this could be officially supported?

[2020-02-27 02:06] steren commented on #70
No update. It is likely that this library will stay an "unofficial Google product" and will stay maintained on the side by volunteers like me and whoever sends PRs to this repo.

The [code is very simple](https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/stackdriver-errors.js) (200 lines), so any business that wants to depend on it could do a code review to decide if they wa

[2020-03-21 06:03] palamccc commented on #6
@oshalygin, @steren
- A lot of small companies, don't have strict QA, and they ship products with bugs and fix bugs on production (hello, can you send the screenshot of the console ?). In this case, Whenever something is not working, we can't go to stackdriver and refresh the screen every few seconds to see any new error is captured.
- Other error-capturing (ex: sentry) libraries do print unhandle

[2020-07-31 07:58] dulacp commented on #4
Another approach to this (used by Sentry.io for example) is to provide a token to stackdriver that will be used in a custom HTTP Header to authenticate stackdriver with the endpoint given in `//# sourceMappingURL=...` and access the sourcemap.

It seems a lot simpler to implement, what do you think?

[2020-09-24 14:13] beck opened #81 "Fails to report an Angular `HttpErrorResponse`"
## As is

* Using Angular
* Make a service request, throw a 500`HttpErrorResponse`
* Report this error with `StackdriverErrorHandler`
* Get a 400 from the service, error never reported

These errors do not have a stack trace, so the payload sent to the clouderrorreporting api was:

[code]

The service then responded with:

## Expected

Errors without a stack would be serialized in a way to maintai

[2021-02-26 19:05] richardscarrott opened #86 "Reduce the bundle size"
Currently requiring 'stackdriver-errors-js' results in quite a lot of code being pulled in -- it's one of our largest dependencies.

<img width="1641" alt="Screenshot 2021-02-26 at 18 55 52" src="https://user-images.githubusercontent.com/539309/109342811-5438bf80-7864-11eb-9485-99530c27fa63.png">

The above is generated using https://github.com/webpack-contrib/webpack-bundle-analyzer.

Stat Size:

[2021-03-01 21:27] steren commented on #86
`stacktrace-js` is needed for this library as it helps normalize the stacktraces before sending them to the server (stacktraces differ between browsers, e.g. Firefox / Chrome)

if you try to cut it, make sure to test with multiple browsers. We could make it optional (and provide two builds of the library).

[2021-03-27 15:06] kospl commented on #86
+1
also,
https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/ca41366ddbd8b5054b9f7112e461190f79e1eff7/gulpfile.js#L28-L34

currently there are some bundled polyfills for what, like _IE 8_ ?
https://caniuse.com/?search=array.map

[2021-03-29 16:24] steren commented on #86
I'm definitely supportive of dropping support for old browsers.

[2021-04-22 18:09] jmasukawa opened #89 "Infinite loop when API quota is exceeded and reportUncaughtExceptions is enabled"
When there are large volumes of errors that exceed Stackdriver reporting quota, HTTP 429 responses are received as a response, letting the caller know too many requests are being sent.

These are thrown as errors by `StackdriverErrorReporter` here:
https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/stackdriver-errors.js#L184

If `reportUncaughtExceptions` is enabled, then thi

[2021-04-22 18:13] steren commented on #89
Great catch.

I would expect customers to learn about quota limits from different mechanisms instead of relying on this client side library, so I suggest to implement 1 (not log these)

[2021-04-22 18:15] jmasukawa commented on #89
Sounds good, will send a PR over when i get a chance. Thanks!

[2021-04-26 22:18] jmasukawa commented on #89
@steren j/w about releases; is it expected that contributors try to build / bump release version per:
https://github.com/GoogleCloudPlatform/stackdriver-errors-js/blob/master/CONTRIBUTING.md#creating-a-new-release

or is that something that lib owners should do? Thanks!

[2021-04-26 22:20] steren commented on #89
I need to publish a new version in `npm`, which contributors cannot do. I'll do it this week.

[2021-04-26 22:51] jmasukawa commented on #89
Sounds good, thank you!

[2021-05-01 20:34] steren opened #91 "Error when generating new `dist` version"
I tried generating a new  version with `npm run dist`, but I got:

[code]

[2021-05-01 20:35] steren commented on #91
I don't have much time to troubleshoot, if anyone wants to take a look, please do (CC @jmasukawa)

[2021-05-04 01:14] jmasukawa commented on #91
I actually ran into this while trying to run the unit tests locally. I ended up using an older version of `node` that was compatible with `gulp v3.x`. Try out node `v10.x`?

Source: https://stackoverflow.com/q/55921442

By the way, I was using NVM on my workstation so it was easy to switch versions: https://github.com/nvm-sh/nvm

[2021-05-18 06:59] alkstal commented on #70
Maybe there's no need for the comments in the code examples that say "Do not use in production environments" anymore though?

It's quite discouraging to see.

[2021-05-21 20:24] steren commented on #91
I'd rather update the `dist` and `test` codebase to be compatible with recent node.js version.

Is this something you could help @jmasukawa ?

After that, I can cut a new module version

[2021-05-21 20:30] jmasukawa commented on #91
Yeah that makes sense, I can give it a shot sometime this coming week. 👍

[2021-06-03 12:34] danielpetrocchi commented on #69
How have you solved the issue in the end?

[2021-07-08 22:30] cakoose opened #95 "New release to NPM? Current one is a year old."
The current package version on NPM is 0.8.0, released Feb 2020.  There have been a few improvements to the library since then.  Would be nice to have a new release on NPM.

[2021-07-13 20:54] steren commented on #95
I am currently unable to generate a new version due to https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/91

Help is appreciated on fixing this issue

[2021-07-16 21:54] xlfe commented on #95
See #94

[2021-07-24 03:41] ernsheong commented on #64
Seeing something similar in 0.8.0:

Payload:
[code]

Response:
[code]

[2021-08-15 22:37] steren commented on #95
0.10.0 has been published

[2021-08-15 22:37] #95 closed

[2021-08-24 12:30] mohamedfasil opened #97 "package installed via npm doesnt have type definition"
Hi typings is missing when we install via npm
[code]
![Screenshot 2021-08-24 at 5 59 41 PM](https://user-images.githubusercontent.com/529158/130616531-25945444-0ad0-408d-9b23-cbb3bb737f00.png)

[2021-09-13 13:36] mohamedfasil commented on #4
Any update / plan to support this ?

[2021-09-13 13:37] mohamedfasil commented on #4
Any update / plan to support this ?

[2021-09-23 13:10] casparolesen commented on #97
@steren Any chance we can get a new release with the renamed definition file? 😄

[2021-10-01 19:46] steren commented on #97
I'm pushing to npm now

[2021-10-01 19:46] #97 closed

[2021-10-08 12:08] casparolesen commented on #97
It seems that the definition file isn't included in the npm package? This is the contents of the folder on 0.11.0:

![image](https://user-images.githubusercontent.com/17333455/136554129-38ec1634-7991-4f59-b1e0-e3999db9cae0.png)

[2021-10-09 08:20] ZYinMD opened #100 "typing file not included in 0.11.0 dist"
Maybe I'm missing something obvious, but the dist of 0.11.0 seems to contain no `stackdriver-errors.d.ts`.

[2021-10-09 08:42] ZYinMD opened #101 "What happens when I create 2 reporter instances?"
Quick question: If I initiate two reporter instances, will uncaught errors be sent twice?

Here's my setup (may not be important info for answering the question, but just in case): My app has a main window and an embedded iframe which is another site. I installed this package in the main window. I can't install it in the iframe site, but I can use postMessage to pass caught errors to the main site

[2021-10-09 19:37] steren commented on #97
Tracked at https://github.com/GoogleCloudPlatform/stackdriver-errors-js/issues/100

[2021-10-09 19:38] steren commented on #101
Good question. You should try and report here.

[2021-10-11 06:28] splitice commented on #89
This can be closed correct? as a release has gone out.

[2021-11-08 16:31] ElixirMike opened #110 "Where do you see user in error reporting?"
If I set the user context , is there a way to see this in the Google Error Reporting console?? I've defined it, but I don't see a way to add/show this data in the console itself.

[code]

[2021-11-10 11:49] jesusvallez commented on #44
Sorry for reopen this issue but I have the same problem.
When some error is throw through npm library in my dev machine, I got this cors error.

@wclr Did you fix the problem?

[2021-11-10 17:53] steren commented on #44
the fact that the request originates from `webpack:///` is most likely the issue. I have no idea why the JS file is served from a non https protocol. Webpack seems the be the culprit here.

[2021-11-13 13:12] ZYinMD commented on #101
Ok I've tested, the result is it will report twice.

So, the best practice will be set `reportUncaughtExceptions` and `reportUnhandledPromiseRejections` to true on one, false on the other one.

[2021-11-13 13:12] #101 closed

[2021-11-23 12:20] richardscarrott opened #111 "Filter errors"
We get a lot of noise from code we don't care so much about such as random chrome extensions or occasionally bad third party scripts which we can't do anything about.

[code]

I wondered if it'd be possible to only log errors which originate from first party scripts; I guess supporting an option which allows errors to be filtered out might worth for this?

[2021-11-25 16:00] TriPSs commented on #110
If you open the error in error reporting you will see it here:
![image](https://user-images.githubusercontent.com/7668692/143472470-6c43817d-4b37-47bf-a291-0b38b44086a6.png)

Also, if you open it in the logs it will be here:
![image](https://user-images.githubusercontent.com/7668692/143472605-d6e278c5-6c4f-4b2f-94cf-ea816f19644e.png)

[2021-11-25 23:45] #110 closed

[2021-11-25 23:45] steren commented on #110
Thanks @TriPSs

[2021-12-14 20:21] ZYinMD opened #112 "Can I call `errorHandler.setUser()` before `errorHandler.start()`?"
[code]
Readme says `setUser` can be called "at any time", but I just want to confirm, can I call it before `start()`?

In my code, I call `setUser()` when user id becomes available, and call `start()` when service name becomes available, and I can't guarantee their order.

Thanks!

[2021-12-16 03:28] camelmasa commented on #4
@steren

If possible, Could you share ip addresses list of Error Reporting Bot.
We can restrict to request only Error Reporting Bot's request.

https://github.com/GoogleCloudPlatform/stackdriver-errors-js
[code]

[2022-03-29 18:14] MisterJimson opened #116 "Link to direct pricing information from readme"
Hello. I'm looking into using this project for client side error reporting and wanted to assess the GCP costs of using it.

Looking at the GCP Error Reporting costs here: https://cloud.google.com/stackdriver/pricing#error-report-costs
[code]

The first link seems promising and links to here: https://cloud.google.com/error-reporting#pricing
[code]
This is where I get a little lost. Does this projec

[2022-07-15 13:24] adamsuskin opened #121 "Log Severity"
Hello! Is there a way to configure the severity of the logs that get sent to GCP?

[2022-07-15 13:56] steren commented on #121
This question is out of scope of this Error Reporting module

[2022-07-15 13:56] #121 closed, assigned to losalex

[2022-07-15 18:49] adamsuskin commented on #121
@steren is there a Warning and/or Info Reporting module? 😂

Jokes aside, I'm mainly asking to what extent y'all have thought about this. If the answer is "none, and I don't want to" I'll take it. Just didn't want to assume that if y'all had put in work that I was somehow unable to find.

[2022-11-23 23:12] vedang-telus commented on #44
Hi @jesusvallez @wclr , I know this issue is closed, but have we ever found a solution to this? I am implementing it with reactJS and nextJS and received same error. Thanks!!